<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="angular.min.js"></script>
    <script src="lifeController.js"></script>
  </head>
  <body ng-app="lifeApp" ng-controller="lifeController as vm">

    <style>
      body{
        margin:0;
      }
      table,form{border: none;display:inline-block;float:left;}
      form{
        padding:20px;
      }
      td{
        width:10px;
        height:10px;
      }
      td:hover{
        background-color:green !important;
      }
      .trans{
        -webkit-transition: all .5s;
        transition: all .5s;
      }
    </style>

    <table cellspacing="0" cellpadding="0">
      <tr ng-repeat="row in vm.grid track by $index">
        <td ng-repeat="cell in row track by $index" ng-class="{trans: !cell && vm.blur}"ng-style="{'background-color':cell ? 'yellow':'black'}" ng-click="vm.placeConstruct($parent.$index,$index);">
        </td>
      </tr>
    </table>
    <form>
      Construct
      <select ng-model="vm.selectedConstruct" ng-init="vm.selectedConstruct = 0">
        <option ng-repeat="construct in vm.constructs" ng-value="$index">{{construct.name}}</option>
      </select>
      <br>
      <br>
      <button ng-click="vm.initGrid()">Clear Grid</button>
      <br>
      <br>
      <button ng-click="vm.paused = !vm.paused">{{vm.paused ? "Start":"Stop"}} Simulation</button>
      <br>
      <br>
      <button ng-click="vm.blur = !vm.blur">{{vm.blur ? "Remove Blur":"Add Blur"}}</button>
    </form>
  </body>
</html>
